<ol>
  <% @articles.each do |article| %>
    <li>
      <h6>
        <strong>Title: </strong>
        <%= link_to article.title, article %>
        <br>
        <strong>Author: </strong>
        <%= article.author.email %>
        <br>
        <strong>Content: </strong>
        <%= article.body %>
      </h6>
    </li>
    <br>
  <% end %>
</ol>